[Unit]
Description=gunicorn daemon
After=network.target

[Service]
User=vagrant
Group=www-data
WorkingDirectory=/home/vagrant/bird_app/flask_app
ExecStart=/home/vagrant/bird_app/flask_app/venv/bin/gunicorn \
--bind 0.0.0.0:5000 \
app:app

[Install]
WantedBy=multi-user.target