---
- name: Configure webservers
  hosts: webservers
  remote_user: vagrant
  become: yes

  tasks:
  - name: Install packages
    ansible.builtin.apt:
      name:
        - nginx
        - python3-pip
        - python3.12-venv
        - nfs-client

      state: present
      update_cache: yes

  - name: Copy .env
    ansible.builtin.copy:
      src: files/.env
      dest: /vagrant/flask_app

  - name: Create venv
    ansible.builtin.command:
      cmd: python3 -m venv /vagrant/flask_app/venv
      creates: /vagrant/flask_app/venv/bin/activate

  - name: Install pip dependencies
    ansible.builtin.pip:
      requirements: /vagrant/flask_app/requirements.txt
      virtualenv: /vagrant/flask_app/venv

  - name: Mount the NFS
    ansible.posix.mount:
      path: /vagrant/flask_app/static/uploads
      src: 192.168.0.13:/var/nfs/bird_uploads
      opts: rw,sync,hard
      state: mounted
      fstype: nfs

  - name: Set up Gunicorn service
    ansible.builtin.copy:
      src: files/gunicorn.service
      dest: /etc/systemd/system/gunicorn.service

  - name: Run init_db.py
    ansible.builtin.command:
      cmd: /vagrant/flask_app/venv/bin/python3 /vagrant/flask_app/init_db.py
    when: ansible_hostname == 'app1'

  - name: Start nginx service
    ansible.builtin.service:
      name: nginx
      state: started

  - name: Start gunicorn service
    ansible.builtin.service:
      name: gunicorn
      state: started

  - name: Enable gunicorn
    ansible.builtin.service:
      name: gunicorn
      enabled: true