name: Linters

on:
  pull_request:
  push:
    branches: '*'
jobs:
  lint:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repo
        uses: actions/checkout@v4
      - name: Set up Python
        uses: actions/setup-python@v5
        with: 
          python-version: '3.11'
      - name: Install python linters
        run: pip install black pylint

      - name: Run black
        run: black .
      - name: Run pylint
        run: |
          files=$(find . -name "*.py")
          if [ -n "$files" ]; then
            pylint $files
          else
            echo "No Python files found."
          fi

      - name: Install yaml linters
        run: |
          npm install -g prettier
          pip install yamllint
      - name: Format yaml
        run: prettier --write "**/*.yml" "**/*.yaml"
      - name: Lint yaml
        run: yamllint .

      - name: Install Groovy linter
        run: npm install -g npm-groovy-lint
      - name: Lint Groovy(Jenkinsfile)
        run: npm-groovy-lint Jenkinsfile
