---
name: Linters

on:
  pull_request:
  push:
    branches:
      - '*'
jobs:
  lint:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repo
        uses: actions/checkout@v5
      - name: Set up python
        uses: actions/setup-python@v5
        with:
          python-version: '3.11'
      - name: Install python linter
        run: pip install pylint
      - name: Run pylint
        run: |
          files=$(find . -name "*.py")
          if [ -n "$files" ]; then
            pylint $files
          else
            echo "No Python files found."
          fi
      - name: Install yaml linter
        run: pip install yamllint
      - name: Lint yaml
        run: |
          files=$(find . -name "*.yml" -o -name "*.yaml")
          if [ -n "$files" ]; then
            yamllint -d "{extends: relaxed, rules: {line-length: disable, document-start: disable}}" $files
          else
            echo "No yaml files found."
          fi
      - name: Install Groovy linter
        run: npm install -g npm-groovy-lint
      - name: Lint Groovy(Jenkinsfile)
        run: |
          if [ -f "Jenkinsfile" ]; then
            npm-groovy-lint Jenkinsfile
          else
            echo "No Jenkinsfile found."
          fi
